body {
	background-color: #F5F5F5;
}

li {
	list-style-type: none;
}

div {
	font-style: italic;
}

.year {
	font-style: normal;
}

.round {

    width: 190px; height: 190px;
    border-radius: 50%;  
}

.footer {
	display: flex;
    align-items: center;
    margin-left: 550px;
}

  .first-column {
	background-color: #ffffff;
	padding: 20px;
	width: 300px;
	margin: 30px;
	
  }

  .second-column {
	background-color: #ffffff;
	padding: 20px;
	margin: 30px;
	width: 800px;
  }
	
  body {
    display: flex;
    flex-wrap:wrap;
  }